.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
  color: white;
}

.logo{
  width : 100px
}
.login-btn{
  background-color: rgb(235, 0, 0);
  color: aliceblue;
  border-radius: 15px;

}
.nav-items > ul {
  display: flex;
  font-size: 24px;
  list-style-type:none;
}
.nav-items > ul >li {
  padding: 10px;
  margin: 10px;
}
.res-container{
  display: flex;
  flex-wrap: wrap;
}

.res-card {
  padding: 5px;
  margin: 20px;
  width: 200px;
  background-image: linear-gradient(red, yellow);
  border-radius: 15px;
}
.res-card:hover{
  cursor: pointer;
  border: 1px solid rgb(9, 247, 231);
}

.res-logo{
  height: 150px;
  width: 200px;
  border-radius: 15px;
}
.filter{
  border-color: blue;
  background-image: linear-gradient(rgb(50, 166, 255),rgb(13, 255, 0), rgb(50, 166, 255));
  color: black;
}
.searchBtn{
  background-image: linear-gradient(rgb(255, 255, 255), rgb(1, 0, 0));
  color: aliceblue;
}
.search {
  padding: 10px;
  border-radius: 50px;
}
.filter-btn{
  margin: 10px;
  cursor: pointer;
}
.shimmer-container{
  display: flex;
}
.shimmer-card{
  padding: 5px;
  margin: 20px;
  height: 425px;
  width: 200px;
  background-color: rgba(219, 219, 219, 0.286);
}
.filter{
  display: flex;
}